@using System.ComponentModel.DataAnnotations
@using Management
@using MudBlazor
@using Management.Inputs
@using Management.Outputs
@using UsersManagementsEmployees.Web.Components.ViewModels

@inject IEmployeeSdk employeeSdk
@inject IDialogService DialogService

<div class="ma-6 justify-content">
    <EditForm Model="@employeeVM" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                        <MudTextField Label="Id" @bind-Value="employeeVM.Id" For="@(() => employeeVM.Id)" Disabled />
                        <MudTextField Label="First Name" @bind-Value="employeeVM.FirstName" For="@(() => employeeVM.FirstName)" />
                        <MudTextField Label="Last Name" @bind-Value="employeeVM.LastName" For="@(() => employeeVM.LastName)" />
                        <MudTextField Label="DUI" @bind-Value="employeeVM.Dui" For="@(() => employeeVM.Dui)" InputType="InputType.Number" />
                </MudCardContent>
                <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Class="mx-auto d-flex"
                                   Style="width: 100px; height: 40px; font-size: 20px;">EDITAR</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mx-auto d-flex"
                                   Style="width: 100px; height: 40px; font-size: 20px;" OnClick="Cancel">Cancel</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
</div>


@code {    
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; }
    [Parameter] public string ContentText { get; set; }

    [Parameter] public EmployeeOutput EmployeeOutput { get; set; }

    EmployeeVM employeeVM = new EmployeeVM();
   
    protected override void OnInitialized()
    {
        employeeVM.Id = EmployeeOutput.Id;
        employeeVM.FirstName = EmployeeOutput.FirstName;
        employeeVM.LastName = EmployeeOutput.LastName;
        employeeVM.Dui = EmployeeOutput.Dui;
    }

    private async Task OnValidSubmit()
    {
        var employeeUpdateData = new EmployeeUpdateData
            (
                Id: employeeVM.Id,
                FirstName: employeeVM.FirstName,
                LastName: employeeVM.LastName,
                Dui: employeeVM.Dui
            );

        var updatedEmployee = await employeeSdk.Update(employeeUpdateData);

        MudDialog.Close(DialogResult.Ok(updatedEmployee));
        Console.WriteLine("Empleado Edited exitosamente.");
    }
    private void Cancel() => MudDialog.Cancel();
}
